.pub-list-item {
  text-align: justify;
}

#projects .row {
  text-align: justify;
}

#talks .row {
  text-align: justify;
}

#awards .row {
  text-align: justify;
}

#teaching .row {
  text-align: justify;
}
